{% extends "base.html" %} 

{% block titulo %} Contacto {% endblock %} 

{% block contenido_principal %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Contacta con el vendedor</h2>
        <form class="form-horizontal" method="post" action="/email?vendedor={{vendedor}}" >
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email"
                           placeholder="email@email.com" required="true" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Nombre:</label>
                <div class="col-sm-10">          
                    <input type="text"  class="form-control" name="name" 
                           placeholder="Tu nombre" required="true" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="mensaje">Mensaje:</label>
                <div class="col-sm-10">          
                    <textarea class="form-control" rows="3" name="mensaje" id="mensaje" required></textarea>
                </div>
            </div>
            <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-block">Enviar mensaje</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}