{% extends "base.html" %} {% block titulo %} Mis Inmuebles {% endblock %} 

{% block contenido_principal %}
<h2>Mis Inmuebles</h2>

<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/inmuebles/agregar" class="btn btn-info" role="button">Agregar inmueble</a>
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Tipo Inmueble</th>
				<th>Características</th>
				<th class="col-md-1"></th>
			</tr>
		</thead>
		<tbody>
		{% for inmueble in inmuebles %}
			<tr>
				<td>{{ inmueble.nombre }}</td>
				<td>{{ inmueble.tipoInmueble }}</td>
				<td> <ul class="tipsMisInmuebles">
					<li><img src="/img/surface.png"/> {{ inmueble.superficie }} m<sup>2</sup></li>
					<li><img src="/img/bed.png"/> {{ inmueble.habitaciones }}</li>
					<li><img src="/img/bath.png"/> {{ inmueble.banhos }}</li>
				</ul>
				</td>
				<td><a href="/inmueble/modificar/{{ inmueble._id.toString() }}">Modificar</a> <br>
					<a href="/inmueble/eliminar/{{ inmueble._id.toString() }}">Eliminar</a> <br>
					<a href="/inmueble/{{ inmueble._id.toString() }}">Ver en Detalle</a> <br>
			    </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}
