{% extends "base.html" %} {% block titulo %} Mis Inmuebles {% endblock %} 

{% block contenido_principal %}
<style>
    body{
        background-image: url("/img/bg-left.jpg");
        background-size:cover;
    }
    table{
        background: white;
    }
    .table td{
        text-align: center;   
    }
    .noInmuebles{
        color: black;
    }
    .table th{
        text-align: center;   
    }
</style>
<script>$(document).ready(function() {
        $('#misInmueblesTable').DataTable();
    } );</script>
<h2 id="misInmueblesTitle">Mis Inmuebles</h2>
<div class="table-responsive col-sm-10 col-sm-offset-1">
    <a href="/inmuebles/agregar" class="btn btn-primary btn-block" role="button">Agregar inmueble</a>
    <br>
    {% if inmuebles.length>0 %}
    <table id="misInmueblesTable" class="table table-hover table-bordered">
        <thead> 
            <tr>
                <th>Nombre</th>
                <th>Tipo Inmueble</th>
                <th>Características</th>
                <th>Última modificación</th>
                <th class="col-md-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inmueble in inmuebles %}
            <tr>
                <td>{{ inmueble.nombre }}</td>
                <td>{{ inmueble.tipoInmueble }}</td>
                <td> <ul class="tipsMisInmuebles">
                    <li><img src="/img/surface.png"/> {{ inmueble.superficie }} m<sup>2</sup></li>
                    <li><img src="/img/bed.png"/> {{ inmueble.habitaciones }}</li>
                    <li><img src="/img/bath.png"/> {{ inmueble.banhos }}</li>
                    </ul>
                </td>
                <td>{% if inmueble.fechaModificacion %}
                    {{inmueble.fechaModificacion.getDate()}}/{{inmueble.fechaModificacion.getMonth()+1}}/{{inmueble.fechaModificacion.getFullYear()}} {{inmueble.fechaModificacion.getHours()}}:{{inmueble.fechaModificacion.getMinutes()}}
                    {% else %} 

                    {% endif %}
                </td>
                <td><ul class="misInmueblesActions">
                    <li>
                        <a href="/inmueble/modificar/{{ inmueble._id.toString() }}"> <span class="glyphicon glyphicon-edit"></span></a> </li>
                    <!-- <li><a href="/inmueble/eliminar/{{ inmueble._id.toString() }}"> <span class="glyphicon glyphicon-trash"></span></a> </li>-->
                    <li><a href="#"  onclick="confirmarEliminacion('{{ inmueble.nombre }}','{{ inmueble._id.toString() }}');return false;"> <span class="glyphicon glyphicon-trash"></span></a> </li>
                    <li><a href="/inmueble/{{ inmueble._id.toString() }}"> <span class="glyphicon glyphicon-search"></span></a> </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center noInmuebles">Aún no has publicado inmuebles. Comienza haciendo click en "Agregar Inmueble"</p>
    {% endif %}
    <div id="dialogConfirmarDelete" style="display:none">¿Estás seguro que deseas eliminar el inmueble seleccionado? Los cambios efectuados serán irreversibles.</div>
    <script>
        function confirmarEliminacion(inmueble,id){
            $( "#dialogConfirmarDelete" ).dialog({
                modal: true,
                title: "Eliminar "+inmueble,
                dialogClass: "no-close",
                autoOpen:false,
                buttons: [
                    {
                        text: "Sí",
                        click: function() {
                            window.location.href = "/inmueble/eliminar/"+id; 
                            $( this ).dialog( "close" );
                        }
                    },
                    {
                        text: "Cancelar",
                        click: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                ]
            });
            $( "#dialogConfirmarDelete" ).dialog('open');
        }
    </script>
</div>


{% endblock %}
