body{
    background-image: url("/img/bg.jpg");
    background-size:cover;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 3%;
}

.tipsListaInmuebles{
    text-align: center;
}

.tipsListaInmuebles  li{
    list-style: none;
    display: inline;
}
.tipsMisInmuebles li{
    list-style: none;
    display: inline;
}
.cardListaInmuebles{
    text-decoration: none;
}
.cardListaInmuebles:hover{
    text-decoration: none;
}

.border > img{
    display:block;
    margin:auto;
    max-width: 100%;
    max-height: 100%;
    
}

.border{
    border: 2px solid teal;
    border-radius: 15px 50px 30px;
    padding: 6px;
    background: white;
    color: dodgerblue;
}
.demo {
    /*width:420px;*/
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo ul li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo ul li img {
    display: block;
    height: auto;
    max-width: 100%;
}
.border:hover{
    position: relative;
    box-shadow: 1px 4px 8px black;
}

.filtrar{
    width: 100%;
}

.padd{
    margin-left: 10px;
    margin-top: 10px;
}
.inmueblesList{
    margin-top: 8%;
}
.love {
    cursor: pointer;
    width: 100px;
    height: 26px;
    background: white;
    color: rgb(223,77,85);
    border: 1px solid rgb(223,77,85);
    border-radius: 3px;
    font-size: 18px;
    margin-top: 10px;
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out;
}

.love:hover {
    background: rgb(223,77,85);
    color: white;
}
.love .text {
    position: absolute;
    margin-top: -22px;
    margin-left: 32px;
    text-decoration: none;
}

.love .heart {
    background: rgb(223,77,85);
    height:25px;
    width:25px;
}


.love .heart div {
    position: absolute;
    margin-left:8px;
    margin-top: 9px;
    height:8px;
    width:8px;
    background: white;
    -webkit-border-radius: 100% 100% 100% 0px;
    border-radius: 100% 100% 100% 0px;
    transform:rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out;
    cursor:pointer;
    opacity:0;
}

.love .heart div:before {
    margin-top:-5px;
    position:absolute;
    background:white;
    content: "";
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100% 100% 100% 0px;
    border-radius: 100% 100% 100% 0px;

}

.love .heart div:after {
    margin-left:5px;
    position:absolute;
    background: white;
    content: "";
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100% 100% 100% 0px;
    border-radius: 100% 100% 100% 0px;  
    transition:all .25s ease-in-out;
    -moz-transition:all .25s ease-in-out;
    -webkit-transition:all .25s ease-in-out;
}

.love.active .heart div {
    opacity: 1;
}

#loginTitle{
    text-align: center;
}

#imgLogin{
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

#misInmueblesTitle{
    text-align: center;
    color: white;
}

#misFavoritosTitle{
    text-align: center;
    color: white;
}

form .stars {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAABaCAYAAACv+ebYAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDcvMDMvMTNJ3Rb7AAACnklEQVRoge2XwW3bMBSGPxa9NxtIGzTAW8DdRL7o3A0qb+BrdNIm9QAm0G7gbJBMwB5MoVJNUSRFIXGqHwhkmXr68hOPNH9ljOEt9OlNqBs4RlrrSmtdpdZ/Ti0EGnvtUoqTHFunBVCkuk6d6mbi83rggdteSa5THDeB3+UDO9z2inatXFum1roESuAReAB29vp15n2/gRfgZK+/gIuIXLxgrfUO+Bnzn0fom4ic+pvRVNuB/QrQ/RB6A7bwLjN8b985krO5MsKd0ElwJvgk1AteCPdCYWI5/SutddQxRUTU3DOzG4hd01EKqQnZuaLBITUh4F0CeLYm5CDw6PjuFTjaz9+BLwE1I8VO9StwAEoRaUSkseMHO+aqcWq2qwcdfQCOIvIy8dwDV/c/YL6zvWDbnQ3QuH5hltQEreM1dH/n6g28gT8eWLVUqqVKrb+vtGidFkCR6vp+0uLAba8k1/eRFh1ue0W7dv4sqpaSjGnR1Fy8YNWyY8W0aGpO/c1oqu3AKmlxCL0BW3iXGb637xzJ2VwZ4U7oJDgTfBLqBS+Ee6EQeMpULVFHUVOzPC3aNR2lkJotLbr0vtKiqWlMTcNaaXHQ0QfgaGqcaVG1jNLibGcbYyb/eDIlT6bjyZS+51JqtrS4gTfw/wzWqkKrKrU8fQPR6gKAmDKlPM3x1WkBFKmu0xxf3fZR5jnFdbzjv257JbmOdzx22yvadZzjW7e9ol27HWtVkjEtIubiB2u1Y8W0iJhTfzOe6uvAKmlxCL0FX+FdZvjevnMkd3Plgzuh0+A88EmoH7wM7oVC6AaiVdwuI2Z5WrRrOk4BNVtadOl9pUXENIhpWCstDjr6ABwR40yLaDVKi7Od7U1/Z0pzpjNngtNiaM2WFj8++A+motm0NTqjmwAAAABJRU5ErkJggg==') repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}
.ie7 form .stars {
  *zoom: 1;
}
form .stars:before,
form .stars:after {
  display: table;
  content: "";
}
form .stars:after {
  clear: both;
}
form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAABaCAYAAACv+ebYAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDcvMDMvMTNJ3Rb7AAACnklEQVRoge2XwW3bMBSGPxa9NxtIGzTAW8DdRL7o3A0qb+BrdNIm9QAm0G7gbJBMwB5MoVJNUSRFIXGqHwhkmXr68hOPNH9ljOEt9OlNqBs4RlrrSmtdpdZ/Ti0EGnvtUoqTHFunBVCkuk6d6mbi83rggdteSa5THDeB3+UDO9z2inatXFum1roESuAReAB29vp15n2/gRfgZK+/gIuIXLxgrfUO+Bnzn0fom4ic+pvRVNuB/QrQ/RB6A7bwLjN8b985krO5MsKd0ElwJvgk1AteCPdCYWI5/SutddQxRUTU3DOzG4hd01EKqQnZuaLBITUh4F0CeLYm5CDw6PjuFTjaz9+BLwE1I8VO9StwAEoRaUSkseMHO+aqcWq2qwcdfQCOIvIy8dwDV/c/YL6zvWDbnQ3QuH5hltQEreM1dH/n6g28gT8eWLVUqqVKrb+vtGidFkCR6vp+0uLAba8k1/eRFh1ue0W7dv4sqpaSjGnR1Fy8YNWyY8W0aGpO/c1oqu3AKmlxCL0BW3iXGb637xzJ2VwZ4U7oJDgTfBLqBS+Ee6EQeMpULVFHUVOzPC3aNR2lkJotLbr0vtKiqWlMTcNaaXHQ0QfgaGqcaVG1jNLibGcbYyb/eDIlT6bjyZS+51JqtrS4gTfw/wzWqkKrKrU8fQPR6gKAmDKlPM3x1WkBFKmu0xxf3fZR5jnFdbzjv257JbmOdzx22yvadZzjW7e9ol27HWtVkjEtIubiB2u1Y8W0iJhTfzOe6uvAKmlxCL0FX+FdZvjevnMkd3Plgzuh0+A88EmoH7wM7oVC6AaiVdwuI2Z5WrRrOk4BNVtadOl9pUXENIhpWCstDjr6ABwR40yLaDVKi7Od7U1/Z0pzpjNngtNiaM2WFj8++A+motm0NTqjmwAAAABJRU5ErkJggg==') repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}